* {
    box-sizing: border-box;
    font-family: 'Ropa Sans', sans-serif;
}

body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #777777;
    box-shadow:0px 0px 8px 0px #777777;
}

section {
    display:flex
}

h1 {
    margin-top: 8px;
    margin-left:41px;
    margin-bottom: 14px;
    font-size: 30px;
}

p.subTitulo{
    width:50px;
    margin-top: 16px;
    font-size: 10px;
}

img.barra {
    margin-top: 18px;
    margin-right: 31px;
    margin-bottom: 19px;
    margin-left: 1103px;
    width: 18px;
    height: 12px;
}

section.imagem1 {
    display:flex;
    justify-content: center;

}

img.img1 {
    margin-top: 20px;
    width: 608px;
    height: 259px;
}

section.imagem2e3 {
    display:flex;
    /*justify-content: space-around;*/
    margin-top: 37px;
    margin-left: 300px;
}

.one {
    padding: 10px;
}

img.imagem2 {
    width: 256px;
    height: 144px;
}

img.imagem3 {
    width: 256px;
    height: 144px;
}

div.look{
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    width: 256px;
    margin-left: 50px;
    margin-right: 48px;
    color: #555555;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 47px;
    
}

#tamanho {
    font-size: 25px;
    color: #888;
    margin-bottom: 13px;
}

img.name1 {
    margin: 13px;
    filter: contrast(50%);
}

img.name2 {
    margin: 13px;
    filter: contrast(50%);
}

img.name3 {
    margin: 13px;
    filter: contrast(50%);
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    width: 1400px;
    max-width: 100%;
    height: 243px;
    color: white;
}

ul li {
    list-style: none;
}

.localizacao {
    width: 252px;
    height: 163px;
    border-radius: 19px;
}

div.parteRodape {
    margin-left: 43px;
}

div.parteRodape img {
    margin-right: 17px;
    width: 20px;
    height: 20px;
}

.caixa1 {
    display: inline-block;
    flex-direction: row;
    height: 100px;
    color: #fff;
}

.caixa2 {
    display: inline-block;
    height: 100px;
    color: #fff;
}

.caixa3 {
    display: inline-block;
    height: 100px;
    color: #fff;
}

p.text {
  position: relative;
  bottom: 115px;
  left: 250px;
  font-size: 40px;
}